
h1{
    font-size: 50px;
    color: rgb(38, 108, 148);
    text-align: center;
}
.first, .second, .third{
    display: flex;
    flex-wrap: nowrap;
}
.first>div, .second>div, .third>div{
    margin: 50px;
}
.second, .third{
    margin-top: 50px;
}

.square{
    width: 150px;
    height: 150px;
    background-color: royalblue;

}

.rectangular{
    width: 300px;
    height: 150px;
    background-color: royalblue;
}

.circle{
    width: 150px;
    height: 150px;
    background-color: royalblue;
    border-radius: 50%;
}

.round{
    width: 150px;
    height: 150px;
    border: 3px solid royalblue;
    border-radius: 50%;
}

.triangle{
    width: 150px;
    height: 150px;
    background-color: royalblue;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.trapezium{
    height: 150px;
    width: 150px;
    background-color: royalblue;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    
}

.diamond{
    height: 150px;
    width:150px;
    background-color: royalblue;
    clip-path: polygon(50% 0%, 80% 50%, 50% 100%, 20% 50%);
    
    
}
.triangle2{
    width:0px;
    height: 0px;
    border-bottom: 150px solid royalblue;
    border-left: 150px solid transparent;
}
.trapezium2{
    width: 70px;
    border-top: none;
    border-right: 70px solid transparent;
    border-bottom: 150px solid royalblue;
    border-left: 70px solid transparent;


}
.diamond2{
    height: 150px;
    width:150px;
    background-color: royalblue;
    transform: rotate(-45deg);

}